__pycache__/
*.pyc

.venv/
venv/

.vscode/

data/*
!data/.gitkeep
!data/test/
!data/test/im_a_cow.txt

artifacts/sessions/*
!artifacts/sessions/.gitkeep

artifacts/dataloader/*
!artifacts/dataloader/.gitkeep

artifacts/tokenizer/*.json
!artifacts/tokenizer/*.tokenizer

test/*

*.DS_Store

*.gputrace

tokenizer-demo/*

cabbage.py